<div>{{groupService.currentGroup.id}}
    <br>
    {{groupService.currentGroup.name}}
    <br>
    {{groupService.currentGroup.description}}
    <br>
    <ul>Users
        <li *ngFor="let user of groupService.currentGroup.usersInGroup"> {{ user.username }}</li>
    </ul>
    <button *ngIf="!test; else leaveTemplate" (click)="join()">join</button>
    <ng-template #leaveTemplate>
        <button class="btn" (click)="leave()">Leave</button>
        <a class="btn" routerLink="/event/create" routerLinkActive="active">Create event</a>
    </ng-template>
</div>